* {
  /*border: 1px solid black;*/
  font-family: Open Sans, sans serif; 
  margin: 0;
  padding: 0;
}

body {
  height: 1000px;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 400px 50%;
  grid-template-areas: 
    "sidebar creator" 
    "sidebar cards";
  background-color: white;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background-color: #1F1F3D;
  color: #fff;
  height: 1000px;
}

.sidebar__border {
  border-left: 10px solid #1F1F3D;
  margin-right: 20px;
  padding-left: 10px;
  font-size: 16px;
}

.sidebar__border.label {
  border-top: 2px solid #353567;
  margin-right: 0;
  padding-top: 20px;
  color: #bfbfdd;
}

.sidebar__child {
  display: flex;
  flex-direction: column;
  line-height: 38px;
}

.sidebar__header {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #353567;
}

.sidebar__form1 {
  margin-right: 0;
}

.sidebar__form2 {
  border-bottom: 2px solid #353567;
  margin-right: 0;
}

.sidebar__form2--quality {
  margin-top: 10px;
}

.sidebar__form2--input {
  background-color: #e9e9f3;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
}

.sidebar--button {
  background-color: #5356a4;
  color: #e9e9f3;
  border-radius: 2px;
  margin-right: 20px;
}

.item {
  border-left: 10px solid #1F1F3D;
  padding-left: 10px;
  margin-top: 10px;
  font-size: 21px;
}

.item:hover {
  border-left: 10px solid #F58E72;
  background-color: #D14119;
}

.creator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: creator;
  background-color: #A9AAD2;
}

.creator__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 50%;
}

.creator__form.label,
.sidebar__form2--input {
  font-size: 12px;
  font-weight: bold;
}

creator label,
button,
input {
  border: 1px solid #353567;
  border-radius: 2px;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 600;
}

textarea {
  resize: none;
}

.creator__form--button {
  background-color: #1f1f3d;
  color: #fff;
}

button,
.creator__form--title--input,
.creator__form--button,
.sidebar__form2--input {
  height: 44px;
}

.creator__form--title--input {
  margin-top: 0;
}

.creator__form--body--input {
  height: 74px;
  font-size: 20px;
  text-overflow: wrap;
}

.creator__search {
  width: 50%;
  height: 38px;
  margin-top: 0;
}

.ideas {
  grid-area: cards;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  background-color: #eaeaf4;
  height: 600px;
  overflow: scroll;
}

/* ------------------*/

.card {
  display: flex;
  flex-direction: column;
  height: 275px;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  border: 2px solid #1E1F3D;
  background-color: #fff;
}

.card--section {
  display: flex;
  box-sizing: border-box;
}

.cards__top--right {
  width: 15%;
  background: url("images/delete.svg") no-repeat;
}
 
 .cards__top--right:hover {
  width: 15%;
  background: url("images/delete-active.svg") no-repeat;
}

.cards__middle {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  justify-content: flex-start;
  margin: 10px;
  width: 90%;
}

.cards__middle--title {
  font-weight: 800;
  font-size: 24px;
}

.cards__bottom,
.cards__top {
  height: 40px;
  justify-content: space-between;
  width: 100%;
  padding: 0 5px;
}

img {
  width: 15%;
}

.cards__top {
  background-color: #1E1F3D;
  color: white;
}

.cards__bottom {
  background-color: #5356a4;
}

.cards__bottom--text {
  color: white;
  font-weight: 700;
  line-height: 38px;
}

/* ------------------*/

.card__ideaprompt {
  font-size: 48px;
  color: #5356A4;
  display: grid;
  grid-area: cards;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  justify-content: center;
  margin-top: 20px;
}

.card__ideaprompt.hidden {
  display: none;
}
